.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  background-color: rgb(0, 119, 255);
  color: white;
}
.navContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  flex: 5;
  font-size: 26px;
}
.logoName {
  font-weight: 500;
}
.menu {
  flex: 1;
  text-decoration: none;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
